@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Montserrat:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --dark: #24253C;
}

.container {
    position: relative;
}

.homepage__grass,
.homepage__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.homepage__grass {
    opacity: .2;
    filter: brightness(.4);
}

.content {
    width: 80%;
    margin: 50px auto;
    position: relative;
    z-index: 2;
}

.block {
    background: var(--dark);
    padding: 25px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
}

.btn {
    background: transparent;
    border: 2px solid #E83651;
    outline: none;
    height: 40px;
    padding: 5px 20px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s all;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn--leaguePicker--selected {
    background: #E83651;
}

.block__leaguePicker {
    margin: 30px auto 10px;
}

.btn--leaguePicker {
    width: 18%;
}

.teamPicker {
    margin: 40px auto;
}

.block--teamPicker {
    width: 48%;
}

.select {
    margin: 20px 0 5px;
}

.select * {
    color: #fff !important;
    background: var(--dark);
    z-index: 100 !important;
}

.select > div {
    background: transparent !important;
}

.select > div:first-of-type > div > div:first-child {
    color: #fff !important;
    position: absolute;
}

#react-select-3-listbox > * > *,
#react-select-2-listbox > * > * {
    background: var(--dark);
    cursor: pointer;
}

#react-select-3-listbox > * > *:hover,
#react-select-2-listbox > * > *:hover {
    background: #E83651 !important;
}

.css-qbdosj-Input {
    opacity: 0;
}

.block__team {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.block__score {
    width: 20%;
}

.block__team:last-of-type {
    justify-content: flex-end;
}

.block__team .img {
    width: 70px;
    margin-right: 20px;
}

.block__team:last-of-type .img {
    margin-right: 0;
    margin-left: 20px;
}

.block__score * {
    text-align: center;
}

.block__score__full {
    font-size: 24px;
}

.block__score__halfTime {
    font-size: 16px;
    font-weight: 400;
}

.block__score__date {
    margin-top: 8px;
}

.block__score__date span {
    display: block;
    font-size: 13px;
    font-weight: 400;
}

.block__singleH2HMatch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.block__team__name--win {
    font-weight: 700;
    color: lightgreen;
}
