@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Montserrat:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --dark: #24253C;
}

.container {
    position: relative;
}

.homepage__grass,
.homepage__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.homepage__grass {
    opacity: .2;
    filter: brightness(.4);
}

.content {
    width: 80%;
    margin: 50px auto;
    position: relative;
    z-index: 2;
}

.block {
    background: var(--dark);
    padding: 25px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 9px -5px rgba(66, 68, 90, 1);
}

.btn {
    background: transparent;
    border: 2px solid #E83651;
    outline: none;
    height: 40px;
    padding: 5px 20px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s all;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn--leaguePicker--selected {
    background: #E83651;
}

.block__leaguePicker {
    margin: 30px auto 10px;
}

.btn--leaguePicker {
    width: 18%;
}

.block__header {
    position: relative;
}

.teamPicker {
    margin: 40px auto;
}

.teamPicker--squads {
    align-items: flex-start;
}

.block--teamPicker {
    width: 48%;
}

.select {
    margin: 20px 0 5px;
}

.select * {
    color: #fff !important;
    background: var(--dark);
    z-index: 100 !important;
}

.select > div {
    background: transparent !important;
}

.select > div:first-of-type > div > div:first-child {
    color: #fff !important;
    position: absolute;
}

#react-select-3-listbox > * > *,
#react-select-2-listbox > * > * {
    background: var(--dark);
    cursor: pointer;
}

#react-select-3-listbox > * > *:hover,
#react-select-2-listbox > * > *:hover {
    background: #E83651 !important;
}

.css-qbdosj-Input {
    opacity: 0;
}

.block__team {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.block__score {
    width: 20%;
}

.block__team:last-of-type {
    justify-content: flex-end;
}

.block__team .img {
    width: 70px;
    margin-right: 20px;
}

.block__team:last-of-type .img {
    margin-right: 0;
    margin-left: 20px;
}

.block__score * {
    text-align: center;
}

.block__score__full {
    font-size: 24px;
}

.block__score__halfTime {
    font-size: 16px;
    font-weight: 400;
}

.block__score__date {
    margin-top: 8px;
}

.block__score__date span {
    display: block;
    font-size: 13px;
    font-weight: 400;
}

.block__singleH2HMatch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.block__team__name--win {
    font-weight: 700;
    color: lightgreen;
}

.squad__avgAge {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    font-weight: 400;
    border-radius: 15px;
    padding: 5px 10px;
    background: #E83651;
}

.squad__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
}

.squad__item > * {
    display: block;
}

.squad__item__position {
    width: 10%;
}

.squad__item__name {
    width: 75%;
}

.block--squad .block__header {
    margin-bottom: 15px;
}

.squad__item--borderTop {
    border-top: 1px solid #efefef;
    padding-top: 10px;
    margin-top: 10px;
}

.lastMatches__series {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.series {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    margin: 0 8px 8px 0;
}

.series--win {
    background: green;
}

.series--draw {
    background: cornflowerblue;
}

.series--lost {
    background: red;
}

.lastMatches__match {
    margin-bottom: 10px;
}

.lastMatches__match > .d-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lastMatches__match > .d-block:nth-child(2) {
    font-size: 12px;
}

.lastMatches__match__date {
    padding-right: 10px;
}

.teamWin * {
    color: greenyellow;
}

.teamLost * {
    color: red;
}

.teamDraw * {
    color: cornflowerblue;
}

.lastMatches__picker {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.btn--lastMatches {
    background: transparent;
    width: 32px;
    height: 32px;
    border: 2px solid #E83651;
    margin-right: 15px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
}

.btn--lastMatches--selected {
    background: #E83651;
}

.lastMatches__picker__header {
    font-size: 13px;
    padding-right: 20px;
}

.btn--submit {
    width: 100%;
    height: 60px;
    border-radius: 60px;
    background: #E83651;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

.btn--submit:hover {
    background: #D62530;
}
